files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/notification_post_deploy.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      ENVIRONMENT_APP=$(/opt/elasticbeanstalk/bin/get-config environment -k APPLICATION_NAME)
      EC2_ID=$(/opt/aws/bin/ec2-metadata | grep instance-id)
      function post_to_slack () {
      SLACK_MESSAGE="\`\`\`$1\`\`\`"
      SLACK_URL=https://hooks.slack.com/services/T02T8J3S9/B3602FYRJ/sdffsdfdsfdfsfdssfdfd
      case "$2" in
      INFO)
      SLACK_ICON=':slack:'
      ;;
      WARNING)
      SLACK_ICON=':warning:'
      ;;
      ERROR)
      SLACK_ICON=':bangbang:'
      ;;
      *)
      SLACK_ICON=':slack:'
      ;;
      esac
      curl -X POST --data "payload={\"text\": \"${SLACK_ICON} ${SLACK_MESSAGE}\"}" ${SLACK_URL}
      }
      post_to_slack "Amazon ElasticBeanStalk: Deploy do ambiente [$ENVIRONMENT_APP $EC2_ID] executado com sucesso! " "INFO"
      exit 0
